/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {margin: 0;padding: 0;}
li {list-style: none;}
img {display: block;}


/********************* HEADER *********************/
.header__container {
  width: 100%;
}
.header__container .gnb {
  width: 100%;
  background: #231916;
}
.header__container .gnb ul {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}
.header__container .gnb ul li {
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
}
.header__container .logo {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
.header__container .logo .logo_box {
  width: 159px;
  height: 58px;
  margin: 0 auto;
}
.header__container .logo .logo_box img {
  width: 100%;
  height: 100%;
}
.header__container .lnb {
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.header__container .lnb ul {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.header__container .lnb ul li {
  padding: 13px 25px;
}



/********************* BEST,RECOMMEND *********************/
.best-container,
.recommend-container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 100px;
}
.best-container .best__title,
.recommend-container .rec__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}
.best-container .best_box,
.recommend-container .rec_box {
  display: flex;
  flex-wrap: wrap;
}
.best-container .best_box .best,
.recommend-container .rec_box .recommend {
  width: 280px;
  margin-right: 26.6666px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-bottom: 26px;
  position: relative;
  transition: all 0.6s;
}
.best-container .best_box .best:hover,
.recommend-container .rec_box .recommend:hover {
  border: 1px solid #ed5c22;
  box-sizing: border-box;
}
.best-container .best_box .best:nth-child(4),
.best-container .best_box .best:nth-child(8),
.recommend-container .rec_box .recommend:nth-child(4),
.recommend-container .rec_box .recommend:nth-child(8) {
  margin-right: 0;
}
.best-container .best img,
.recommend-container .recommend img {
  width: 278px;
  height: 278px;
}
.best-container .best_box .best .txt_box,
.recommend-container .rec_box .recommend .txt_box {
  padding: 10px 30px;
  box-sizing: border-box;
}
.best-container .best_box .best .txt_box .best_desc,
.recommend-container .rec_box .recommend .txt_box .best_desc {
  font-size: 13px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.best-container .best_box .best .txt_box .best_title,
.recommend-container .rec_box .recommend .txt_box .best_title {
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

}
.best-container .best_box .best .txt_box .best_price,
.recommend-container .rec_box .recommend .txt_box .best_price {
  color: #ed5c22;
  font-size: 20px;
  font-weight: 700;
}
.best-container .best_box .best .txt_box .best_price span,
.recommend-container .rec_box .recommend .txt_box .best_price span {
  font-size: 20px;
  color: #bcbcbc;
  font-weight: 300;
  position: relative;
  margin-right: 5px;
}
.best-container .best_box .best .txt_box .best_price span::after ,
.recommend-container .rec_box .recommend .txt_box .best_price span::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background: #ed5c22;
}
.best-container .best_box .best .best_btn,
.recommend-container .rec_box .recommend .rec_btn {
  height: 54px;
  border-top: 1px solid #ddd;
}
.best-container .best_box .best .best_btn button ,
.recommend-container .rec_box .recommend .rec_btn button {
  width: 50%;
  height: 54px;
  border: none;
  background: #f8f8f8;
  color: #bbb;
  transition: all 0.6s;
  cursor: pointer;
}
.best-container .best_box .best .best_btn button:hover,
.recommend-container .rec_box .recommend .rec_btn button:hover {
  color: #000;
}
.best-container .best_box .best .best_btn .love,
.recommend-container .rec_box .recommend .rec_btn .love {
  border-right: 1px solid #ddd;
}
.tag_box {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 54px;
  height: 24px;
}
.best-container .tag_box img,
.recommend-container .tag_box img {
  width: 54px;
  height: 24px;
  margin-bottom: 5px;
}
